body{
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: $default-color;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
