$accent: #fe3e57;
$default: #8d8d8d;
$title: #29282d;
$bg: #f6f6f6;

%quicksand-400 {
  font-family: "Quicksand-Regular", sans-serif;
  font-weight: 400;
}

%quicksand-500 {
  font-family: "Quicksand-Medium", sans-serif;
  font-weight: 500;
}

%quicksand-700 {
  font-family: "Quicksand-Bold", sans-serif;
  font-weight: 700;
}

%roboto-400 {
  font-family: "Roboto-Regular", sans-serif;
  font-weight: 400;
}

%roboto-700 {
  font-family: "Roboto-Bold", sans-serif;
  font-weight: 700;
}

%btn {
  padding: 14px 18px;
  @extend %roboto-400;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: $accent;
  color: #fff;
  box-shadow: 0px 7px 20px 0px rgba(255, 17, 48, 0.3);
}

@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}
@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}

%link {
  text-transform: uppercase;
  letter-spacing: 0.2px;
  color: $title;
  border: 1px solid $accent;
  padding: 15px 25px;
  display: inline-block;
}
%checkbox-hidden,
%radio-hidden {
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  position: absolute;
}
