@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';


.header{
    padding: 40px 0;
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.menu{
    &__list{
        display: flex;
    }
    &__list-item + .menu__list-item{
        padding-left: 35px;
    }
    &__list-link{
        color: $title;
        padding: 0 2px 5px;
        transition: all .3s;
        text-transform: uppercase;
        @extend %quicksand-500;
        border-bottom: 1px solid transparent;
        letter-spacing: 0.7px;
        &:hover{
            color: $accent;
            border-bottom: 1px solid $accent;
            @extend %quicksand-700;
            letter-spacing: 0.3px;
        }
    }
    &__list-link--active{
        color: $accent;
        border-bottom: 1px solid $accent;
        @extend %quicksand-700;
    }
}

.user-nav{
    display: flex;
    &__link{
        position: relative;
    }
    &__link + .user-nav__link{
        padding-left: 25px;
    }
    &__num{
        position: absolute;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background-color: $accent;
        top: -9px;
        right: -14px;
        color: #fff;
        font-size: 12px;
        text-align: center;
        line-height: 20px;
    }
}
































@import 'media';
